<% layout("/layouts/boilerplate") %>

<div class="info">
    <h1>Some Information for website</h1><br> <br>

   <p>This website is copied from Airbnb website this is a small part of Airbnb website.</p>
   <p>This was created with the help of the <b>Apna College</b>. </p>
   <br><br>
    <h5>It has been helped to create this:-
        <ul>
            <li>
                 Bootstrap
            </li>
            <li>
               <i class="fa-brands fa-square-github"></i> GitHub
            </li>
            <li>
                Font Awesome
            </li>
            <li>
                Apna College website
            </li>
        </ul>
    </h5>
    <p>To more information go ot the <i class="fa-regular fa-compass"></i> WanderLust private Limited</p>
    <div class="info-creater">
    <p><i class="fa-solid fa-copyright"></i> copyright to <b><i class="fa-brands fa-airbnb"></i> Airbnb </b></p>
    <p><i class="fa-regular fa-compass"></i> &nbsp;WanderLust private Limited</p>
    <p>This website created by <b>Om Maurya</b></p>
    </div>
</div>