body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
   flex: 1;
}


 /* Navbar */

 .navbar {
    height: 5rem;
    background-color: white;
 }

 .wanderlust-logo {
    color: #fe424d;
    font-size: 2rem;
 }

 .nav-link{
    color: #222222 !important;
 }

 .navbar-toggler {
  z-index: 1 !important;
  background-color: #ffffff;
 }

 /* Footer */

 .f-info-links a {
    text-decoration: none;
    color: #222222;
 }

 .f-info-links a:hover {
    text-decoration: underline;
 }

 .f-info-links,
  .f-info-social,
   .f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .f-info-social i {
    font-size: 1.2rem;
    margin-right: 0.7rem;
 }

 .f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }

 /* Cards */

 .listing-card {
    border: none !important;
    margin-bottom: 2rem;
 }

 .card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
 }

 .card-body {
   padding: 0 !important;
 }

 .card-text p {
   font-weight: 400 !important;
 }

 .listing-link {
   text-decoration: none;
 }

 /* Card Effect */

 .card-img-overlay {
   opacity: 0;
 }

 .card-img-overlay:hover {
   opacity: 0.2;
   background-color: white;
 }

 /* New page */

 .add-btn {
   background-color: #fe424d !important;
   border: none !important;
 }

 /* Edit page */

 .edit-btn {
   background-color: #fe424d !important;
   border: none !important;
 }

 /* Show page */

 .show-img {
   height: 30vh;
 }

 .btns {
   display: flex;
 }

 .show-card {
   padding-left: 0;
   padding-right: 0;
 }

 .show {
  width: 39rem;
 }

 /* search bar */

 .search-btn {
    background-color: #fe424d;
    color: #ffffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #ffffff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

 /* filter */

  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin-top: 2rem;
    margin-right: 1rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .filter a {
    text-decoration: none;
    color: black;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 10rem;
    display: flex;
    align-items: center;
  }

  /* media query */

 @media (max-width: 500px){
    .show {
        width: 230px !important;
        offset: 1 !important;
        /* margin-right: 20px; */
    }
    .review {
      width: 200px !important;
    }

    .tax-toggle label {
      font-size: 0.5rem;
    }

    .tax-toggle {
      margin-left: 2rem;
    }
}


@media (min-width: 500px) and (max-width: 800px){
    .show {
        width: 400px !important;
        offset: 1 !important;
        /* margin-right: 20px; */
    }
    .review {
      width: 200px !important;
    }

    .tax-toggle label {
      font-size: 0.7rem;
    }

    .tax-toggle {
      margin-left: 2rem;
    }
}


@media (min-width: 800px) and (max-width: 1100px){
    .show {
        width: 500px !important;
        offset: 1 !important;
        /* margin-right: 20px; */
    }
    .review {
      width: 220px !important;
    }

    .tax-toggle label {
      font-size: 0.8rem;
    }

    .tax-toggle {
      margin-left: 5rem;
    }
}

 @media (min-width: 1100px){
    .show {
        width: 600px !important;
        offset: 1 !important;
        /* margin-right: 20px; */
    }
    .review {
      width: 300px !important;
    }
}




.info-creater {
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}